<h1>The Art</h1>
<% @art_posts.each do |art| %>
    <img src="<%=art.img_url%>">
    <p><a href="/art_posts/<%=art.id%>"><%=art.title%></a></p>
<% end %>

<a href="/art_posts/new">Create New Art Post</a>
<p><a href="/logout"><input type="submit" value="Logout"</a></p>

