<h1>Create A New Art Post</h1>

<form action="/art_posts" method="post">
   <p> Title: <input type="text" name="title"></p>
   <p> Image URL: <input type="text" name="img_url"></p>
   <p> Description: <textarea name="description"></textarea></p>
   <p> Price: <input type="number" name="price"></p>
    <input type="submit" value="Create Art Post">
</form>