<h1>Login To Sell</h1>


<div id="form" class="container">
  <form action="/sellers/login" method="post">
  <div class="row">
    <div class="col-sm-4">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
  </div>  
  <button type="submit" class="btn btn-primary">Login</button> 
  </form>
</div>