<h1>Login To Sell</h1>

<form action="/login" method="post">
   Username: <p><input type="text" name="username"></p>
   Password: <p><input type="password" name="password"></p>
   <p><input type="submit" value="Login"></p>
</form>