h1 {
    text-align: center; 
}

h3 {
    text-align: center;
}

.welcome {
    color: white;
}

.card {
    margin: 20px;
}

#landing {
    margin: auto;
    width: 20%;
}

.navbar{
    background-color: red;
}

#account {
    margin: auto;
    text-align: center;
}

#signup {
    display: block;
    margin: auto;
    text-align: center;
}

.flash {
    color: white;
}

.landing {
    background-image: url("https://images.unsplash.com/photo-1519730967915-e1e7d6a82225?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJyb29rbHlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
}

#index {
    background-image: url("https://images.unsplash.com/photo-1544406397-9357965309ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDF8fGJyb29rbHlufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
}

.form {
    background-color: #D7D7D7;
}