<h1>What Type Of Account Would You Like To Make</h1>

<div id="signup" class="container">
    <a href="/buyers/signup"><button type="button" class="btn btn-primary">Signup To Buy</button></a> 
    <a href="/sellers/signup"><button type="button" class="btn btn-primary">Signup To Sell</button></a> 
</div>