<h1>Welcome To The Art Marketplace!</h1>

<p><a href="/signup"><input type="submit" value="Signup"</a></p>
<p><a href="/login"><input type="submit" value="Login"</a></p>
<p><a href="/logout"><input type="submit" value="Logout"</a></p>
