<body class="landing">
<h1 class="welcome">Welcome To Brooklyn Art Market!</h1>
<h3 class="welcome">An Indy Art Shop</h3>

<% if !seller_logged_in? || !buyer_logged_in? %>
    <div id="landing" class="container">
        <div>
            <a href="/buyers/login"><button type="button" class="btn btn-primary">Login To Buy</button></a> 
            <a href="/sellers/login"><button type="button" class="btn btn-primary">Login To Sell</button></a> 
        </div>
        <div id="account">
        <a href="/signup">Create An Account</a> 
        </div>
    </div>
    
<% end %> 

</body>



