<h1>Welcome To Brooklyn Art Market!</h1>
<h3>An Indy Art Shop</h3>

<p><a href="/signup"><input type="submit" value="Signup"</a></p>
<p><a href="/login"><input type="submit" value="Login"</a></p>
<p><a href="/logout"><input type="submit" value="Logout"</a></p>
